.annual-cost-cell[title]:hover:after {
    content: attr(title);
}

.hide-row-except-total .sv_matrix_cell:not(.sv_matrix_cell_total) {
    display: none;
}

.hide-total-calculation-row {
    display: none;
}

.hide-cell {
    display: none;
}

.survey-row-total-calculation-title {
    display: none;
}

.modal-backdrop {
    z-index: 99;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal {
    box-sizing: border-box;
    background: #F5F8FA;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

.modal-body {
    background-color: #FFFFFF;
    padding: 20px;
}

.modal-footer {
    padding-top:20px;
    text-align: right;    
}

.modal-header {
    text-align: left;
    padding-bottom: 20px;
}

.modal-header .modal-title {
    color: #292D32;
    font-size: 20px;
    font-weight: 600;
}

.modal textarea {
    border-radius: 4px;
    border: 1px solid #cacaca;
    box-sizing: border-box;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    min-height: 100px;
    padding: 10px;
    width: 100%;
}

.modal textarea:focus-visible {
    outline: none;
}

.modal .btn {
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    min-width: 100px;
    padding: 10px 15px;
}

.modal .btn-primary { 
    background-color: #00AEA7; 
    border: 1px solid #00AEA7;
    color: #FFFFFF;
}

.modal .btn-cancel { 
    background-color: transparent;
    border: 1px solid #00AEA7; 
    color: #00AEA7;
}

.modal .btn:hover {
    opacity: 0.8;
}

.mr-10 {
    margin-right: 10px;
}