.annual-cost-cell[title]:hover:after {
    content: attr(title);
    /* Add more styling here */
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

.hide-row-except-total .sv_matrix_cell:not(.sv_matrix_cell_total) {
    display: none;
}

.hide-total-calculation-row {
    display: none;
}

.hide-cell {
    display: none;
}

.survey-row-total-calculation-title {
    display: none;
}